%global-header{
    border: 1px solid #dddddd;
    background: rgba(0,0,0,0,0.5);
    font-size: 13px;
}
$centering-rows{
    .row{
        *{
            margin: auto;
        }
    }
} //@extend %centering-rows


$large-screen-width: 1120px;
$medium-screen-width: 768px;
$small-screen-width: 575px;
// $xsmall-screen-width: 375px;
//일반적으로 375px가 많음 
// $xxsmall-screen-width: 320px;

//map 객체화 (map & value)
$media-lists: (
    'large': (     //key and value
        'min-width',
        $large-screen-width
    ),
    'medium': (
        'max-width',
        $medium-screen-width
    ),
    'small': (
        'max-width',
        $small-screen-width
    ),
);


@mixin for-size($size) {
    @if map-has-key($media-lists$key, $size) {
        $selector: map-get($media-lists, $size); //return
        @if length($selector) == 2 {
            @media only screen and (#{nth($selector, 1)}: #{nth($selector, 2)}) {
                @content;
            }
        } @else if length($selector) == 4 {
            @media only screen and (#{nth($selector, 1)}: #{nth($selector, 2)}) and (#{nth($selector, 3)}: #{nth($selector, 4)}) {
                @content;
            }
        } @else{
            @error "invalid media-query constraint: args # {length(#selector)}.";
        }
    }
} //@error "invalid media-query constraint: args #{length($selector)}.";






