body{
    box-sizing: border-box;
    line-height: 1.5;
}
a{
    text-decoration: none;
}
.p-link:hover{
    text-decoration: underline;
}
.a-link-blue{
    color: #0366d6;
}
.a-link-blue-bold{
font-weight: bold;
}
.a-link-blue svg{
    color: #1074e7;
}
.a-link-blue:hover{
    text-decoration: underline;
}

header .header-link{
    text-decoration: none;
    color: white;
}
header .header-link:hover{
    opacity: 0.7;
}

.octicon{
    color: #586069;
    fill: currentColor;
}
/* header */
header{
    background-color: #24292e;
    display: flex;
    padding: 0 16px;
    align-items: center;
    height: 52px;
}
header div{
    margin-right: 16px;
}

/* .gnb-menu */
.gnb-menu{
    display: flex;
    align-items: center;
    flex: auto;
}

.gnb-menu .logo a{
    font-size: 37px;
}
.gnb-menu .search-bar label{
    border-radius: 6px;
    padding: 1px 10px 6px;
    background-color: hsla(0,0%,100%,.125);
    /* 
    hsla(hue, saturation, lightness, alpha)
    Value	    Description
    hue	        Defines a degree on the color circle (from 0 to 360) - 0 (or 360) is red, 120 is green, 240 is blue
    saturation	Defines the saturation; 0% is a shade of gray and 100% is the full color (full saturation)
    lightness	Defines the lightness; 0% is black, 50% is normal, and 100% is white
    alpha	    Defines the opacity as a number between 0.0 (fully transparent) and 1.0 (fully opaque)
    */
}
.gnb-menu .search-bar input[type=text]{
    background-color: transparent;
    border: none;
    box-shadow: none;
    /* border-radius: 7px; */
    width: 220px;
}
.gnb-menu .search-bar input::placeholder{
    color: #fff;
}
.gnb-menu .search-bar img{
    vertical-align: middle;
}

.gnb-menu ul{
    display: flex;
    align-items: center;
    font-size: 13px;
    font-weight: bold;
}
.gnb-menu ul li{
    margin-right: 16px;
}

/* .right-menu */
.right-menu{
    display: flex;
    margin-right: 0;
}

.right-menu .fa-caret-down{
    color: white;
}

.right-menu .mypage{
    margin-right: 0;
}
.right-menu img{
    width: 20px;
    height: 20px;
    border-radius: 10px;
}
.right-menu .mypage i{
    vertical-align: top;
}
/* main */
main{
    /* background:rgba(0,0,0,0.3) */
    
}

main .lnb-menu{
    border-bottom: 1px solid rgba(0,0,0,.1);
}
main .lnb-menu nav{
    display: flex;
    margin: 0 auto;
    padding: 0 20px;
    justify-content: flex-start;
    max-width: 1012px;
    align-items: center;
}
main .lnb-menu nav .emptybox{
    width: 25%;
    margin-right: 8px;
}
main .lnb-menu ul{
    display: flex;
    color: #1b1f23;
}

main .lnb-menu ul li{
    margin-right: 26px;
}
main .lnb-menu ul li a{
    color: gray;
    font-size: 14px;
    display: inline-block;
    padding: 16px 0;
    border-bottom: 2px solid transparent;
}
main .lnb-menu ul li a:hover{
    border-bottom-color : #e1e4e8;
    transition: border-bottom-color .4s;
}
main .lnb-menu ul li a.lnb-active{
    font-weight: 500;
    color: black;
    border-bottom: 2px solid #1074e7;
}
main .lnb-menu .email-btn{
    flex: auto;
    text-align: right;
}
main .lnb-menu .email-btn a:hover{
    background-color: #0366d6;
    border-color: #0366d6;
}
main .email-btn a{
    color: white;
    background-color: #1074e7;
    border-radius: 5px;
    margin-top: 8px;
    margin-bottom: 8px;
    padding: 9px 16px;
    font-weight: bold;
    font-size: 14px;
    
}
/* .sub-main */
.sub-main{
    display: flex;
    margin: 0 auto;
    max-width: 1280px;
}
.sub-main .border-rounded-left{
   /* padding: 0 16px; */
}
.sub-main .border-rounded{
    /* padding: 16px; */
}

/* aside */

.topic-img{
    margin: 16px 0;
}

/* .left */
.left{
    width: 25%;
    margin-top: -35px;
    padding: 0 16px;
}
.left a{
    color: #0366d6;
}
.left .profile{
    border: 1px solid #e1e4e8;
    box-shadow: 0 3px 6px rgba(149,157,165,.15);
    border-radius: 6px;
    z-index: 22;
    background-color: #fff;
}
.left .profile .starred-repository{
    padding: 16px;
}
.left .username{
    text-align: center;
    border-bottom:  1px solid #e1e4e8;
}
.left .username img{
    width: 95px;
    height: 95px;
    margin-top: 15px;
}
.left .profile .userId{
    padding: 16px;
    font-size: 20px;
    font-weight: 400;
    color: #586069;
}
.left .profile .starred-topic{
    padding: 0 16px;
    border-bottom: 1px solid #e1e4e8;
}
.left .profile .starred-topic h3 {
    margin: 16px 0;
}
.left .starred-topic img{
    width: 24px;
    height: 24px;
    margin-right: 16px;
    transform: translateY(10px);
}
.left .profile .starred-repository{
    border-top:  1px solid #e1e4e8;
}

.repositories{
    width: 50%;
    padding: 24px 16px;
}
.repositories h2{
    color: #586069;
    font-size: 20px;
    font-weight: 500;
}
.repositories .p16{
    padding: 0 16px;
}

.repositories article{
   border: 1px solid #e1e4e8;
   margin: 24px 0;
   border-radius: 6px;
   background-color: #fafbfc;
   box-shadow: 0 3px 6px rgba(149,157,165,.15);
}

.repositories article .text-info-1{
    margin-top: 16px;
    font-size: 12px;
    color: #586069;
}
.repositories article svg{
    margin-right: 4px;
    vertical-align: middle;
    opacity: 0.6;
}

.repositories article .text-info-2{
    display: flex;
    justify-content: space-between;
    margin: 16px 0;
    align-items: center;
}
.repositories article .text-info-2 > div{
    display: flex;
}
article .text-info-3{
    padding: 16px 16px 0 16px;
    border-bottom: 1px solid #e1e4e8;
}
article .text-info-3 .tabs{
    padding: 10px 0 5px;
}
article .text-info-3 .tabs a:hover{
    color: #586069;
}
article .text-info-3 .tabs a{
    font-size: 12px;
    padding: 4px 8px 0;
    vertical-align: sub;
    color: #1b1f23;
}
article .text-info-3 .tabs .first-tab{
    border: 1px solid #e1e4e8;
    font-size: 12px;
    padding: 6px 8px 7px;
    border-radius: 6px 6px 0 0;
    border-bottom-color: #fff;

}
article .starbtn button{
    border: 1px solid #e1e4e8;
    background-color: transparent;
    border-radius: 6px 0 0 6px;
    padding: 6px 10px;
    font-size: 12px;
}
article .starbtn a{
    border: 1px solid #e1e4e8;
    padding: 6px;
    border-radius: 0 6px 6px 0;
    font-size: 12px;
    font-weight: bold;
    color: #24292E;
}
article .starbtn button svg{
    margin-right: 0;
    vertical-align: middle;
}
.repositories article .tab-contents{
    background-color: #fff;
    border-radius: 0 0 6px 6px;
}
article .text-info-4 div {
    padding-top: 16px;
    font-size: 14px;
    color: #000000;
}
article .text-info-5 > div{
    padding: 30px 0 20px;
    display: flex;
}

article .text-info-5 div > span{
    margin-right: 24px;
    font-size: 12px;
    color: #586069;
}
article .text-info-5 .circle >div{
    background-color: #4F5D95;
    width: 12px;
    height: 12px;
    border-radius: 10px;
    display: inline-block;
    margin-right: 2px;
    vertical-align: top;

}

article .text-info-5 .circle .js-circle{
    background-color: yellow;
}
/* .right */
.right{
    /* outline: 1px solid red; */
    width: 25%;
    padding: 24px 16px;
}
.right .trending{
    border: 1px solid #e1e4e8;
    box-shadow: 0 3px 6px rgba(149,157,165,.15);
    border-radius: 6px;
    margin-bottom: 24px;
}
.right .trending svg{
    /* color: #586069; */
}
.right .trending .trending-header{
    display: flex;
    padding: 18px;
    border-bottom:  1px solid #e1e4e8;
    background-color: #f6f8fa;
}
.right .trending .trending-header .header-icon{
    margin-right: 4px;
}
.right .trending .trending-header h2 a{
    font-size: 14px;
    color: #24292e;
    vertical-align: text-top;
}
.right .trending .trending-header h2 a:hover{
    text-decoration: underline;
}
.right .trending .trending-header h2 a span{
    font-weight: 600;
}
.right .trending-list{
    padding: 16px;
    border-bottom:  1px solid #e1e4e8;
}
.right .trending-list .trending-info{
    display: flex;
    align-items: center;
    
}
.right .trending-list .trending-info .sort-of{
    flex: auto;
}

.right .trending-list .trending-info .sort-of h1{
    display: inline-block;
}

.right .trending-list p{
    margin-top: 8px;
    font-size: 12px;
    color: #586069;
}

.right .trending-developer{
    display: flex;
}
.right .trending-developer .user-img{
    padding: 0 8px;
    
}
.right .trending-developer .user-img img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
.right .trending-developer .user-info .username{
    color: #0366d6;
    font-weight: 600;
}
.right .trending-developer .user-info .username:hover{
    text-decoration: underline;
}


.right .trending-developer .user-info h1{
    /* margin-bottom: 8px; */
}
.right .trending-developer .user-info span{
    color: #586069;
}
.right .trending-developer .user-info p a{
    color: #586069;
    font-size: 12px;
    vertical-align: super;
}
.right .trending-developer .user-info p a:hover{
    text-decoration: underline;
}
.right .trending-footer{
    padding: 18px;
}
.right .trending-footer a{
    color: #0366d6;
    font-size: 12px;
}
.right .trending-footer svg{
    vertical-align: text-bottom;
}

/* footer */
footer{
    /* outline: 1px solid red; */
    width: 100%;
    margin: 0 auto;
}